$imgSize: 15rem;

#search-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  input {
    flex-grow: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.message {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.artists-list {
  opacity: 0.8;
  .artist-name {
    cursor: pointer;
  }
}

.favorite-icon {
  background: none;
  fill: red;
  transition: all 200ms ease;
  overflow: visible;
  svg {
    background: none;
    overflow: visible;
    :hover {
      transform: scale(1);
    }
  }
  :hover {
    transform: scale(1.2);
  }
}

#lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  margin: 2rem 0rem 1rem;
  p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }
  .list {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    overflow-x: auto;
    .item {
      display: flex;
      flex-direction: column;
      border: 1px solid #888;
      border-radius: 0.25rem;
      padding: 0.375rem 0.75rem;
      &.clickable {
        cursor: pointer;
      }
      margin: 0.5rem 0.5rem 1rem;
      .img-container {
        position: relative;
        height: $imgSize;
        width: $imgSize;
        background-image: "/spotify.jpg";
        border-radius: 0.25rem;
        img {
          opacity: 1;
          height: 100%;
          width: 100%;
          border-radius: 0.25rem;
        }
        .favorite-icon {
          position: absolute;
          bottom: 0.4rem;
          right: 0.4rem;
        }
      }
      .duration {
        font-size: 0.9rem;
      }
      .name {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .description {
        margin-top: auto;
        opacity: 0.8;
        p {
          margin-top: auto;
          font-size: 0.9rem;
        }
      }
      .btn {
        margin-top: auto;
      }

      .album-description {
        p {
          margin: 0.1rem;
        }
      }
    }
  }
  .get-more {
    justify-content: center;
    cursor: pointer;
    background-color: #1db954;
    border: none;

    p {
      background-color: #1db954;
      text-align: center;
      min-width: $imgSize;
    }
    &:hover {
      filter: brightness(1.2);
    }
  }
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding-right: 1rem;
  }
}

.modal-dialog {
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: $imgSize;
    height: $imgSize;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .title {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

#album {
  .music-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .list-header {
      p {
        margin: 0;
      }
      border-bottom: 1px solid #888;
    }
    .list-body {
      max-height: 30rem;
      overflow: auto;
      :first-child {
        margin-top: 0.3rem;
      }
    }
    .music {
      display: flex;
      align-content: center;
      .index {
        width: 8%;
        text-align: right;
      }
      .favorite-icon {
        display: flex;
        justify-content: center;
        padding: 0rem 0.5rem;
        width: 12%;
      }
      .music-name {
        max-width: 80%;
      }
    }
  }
  .artists-list {
    opacity: 0.8;
  }
}

#artist {
  .list-container {
    p {
      margin-bottom: 0px;
    }
  }
}
