@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$colors: (
  primary: #1db954,
  background: #181818,
  text: #ffffff
);

* {
  background-color: map-get($colors, background);
  color: map-get($colors, text);
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  min-height: 100vh;
  margin: 0px;
  &.center {
    justify-content: center;
    text-align: center;
  }
}
input {
  text-align: center;
  padding: 0.5rem;
  margin: 0.3rem;
  background: none;
  border-width: 0px 0px 1px 0px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.btn {
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease;
  margin: 0.3rem;
  padding: 0.5rem;
  background: none;
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  &.btn-primary {
    background-color: map-get($colors, primary);
    color: map-get($colors, text);
    border: 0px;
    &:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
    }
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
